.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .form_class_container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    padding-left: 20px;
    width: 400px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;

  }
.icon{
    margin-right: 10px;
}
  
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='date'],
  input[type='radio'] {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  
  input[type='radio'] {
    width: auto;
    margin-right: 5px;
  }
  
  button[type='submit'] {
    background-color: #0074d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  
  span {
    color: red;
  }
  
  a {
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #0074d9;
  }
  
  a:hover {
    text-decoration: underline;
  }
  